<h3 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: #3498db; text-align: center;"><u>ACTIVATE TEST</u></h3>
<hr>

<div class="bodyStyle">
    On this page, you can view all the tests you have registered. When you enable a test, it becomes available for individuals
     who have signed up to take the test. This means that they can access and complete the test 
     at their convenience. On the other hand, if a test is disabled, it will not be accessible to any
      user, preventing them from taking the test. This functionality allows you to control the 
      availability of each test based on your preferences or requirements.
</div>

<hr>
