.bodyStyle {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
  }

  h3 {
    color: #333;
    text-align: center;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    width: 60%; /* Adjust the width as needed */
    height: 95%; /* Adjust the height as needed */
    max-width: 1000px;
    max-height: 600px;
    overflow: auto; /* Add scrollbar if content overflows */
  }
  
  .option-container {
    margin-bottom: 10px;
  }

  .popup-content {
    text-align: center;
  }
  
  .close-button {
    position: absolute;
    top: 7px;
    right: 10px;
    background: red;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
  }

  .endbody {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
  }

  .message-container {
    text-align: center;
  }

  .icon {
    font-size: 8em;
    margin-bottom: 15px; 
  }