<h3 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: #3498db; text-align: center;"><u>QUESTION HANDLER</u></h3>
<hr>
<div class="container mt-4">
    <!-- Filter input -->
    <div class="form-outline mb-4 row">
        <div class="col-xs-3 col-lg-3 col-md-3 col-xl-3">
            <input class="form-control" type="text" [formControl]="createdByUserFilter" placeholder="Filter by CreatedByUser">
        </div>
        <div class="col-xs-3 col-lg-3 col-md-3 col-xl-3">
            <select [(ngModel)]="filterType" (change)="onFilterTypeChange()" class="form-control">
                <option value="all">All Questions</option>
                <option value="user">Your Questions</option>
                <option value="organization">Questions in your Organization</option>
            </select>    
        </div>
        <div class="col-xs-3 col-lg-3 col-md-3 col-xl-3">
            <button type="button" class="btn btn-info" (click)="createdByUserFilterDetails()">Filter Question</button>
        </div>
        <div class="col-xs-3 col-lg-3 col-md-3 col-xl-3">
            <button type="button" class="btn btn-link" (click)="openPopup()" [disabled]="isPopupOpen">Add New Question</button>
        </div>
    </div>
    
  
    <table class="table table-striped">
      <!-- Table headers -->
      <thead>
        <tr>
          <th>Question</th>
          <th>Options</th>
          <th>Category ID</th>
          <th>Created By User</th>
          <th>Actions</th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody>
        <tr *ngFor="let question of filteredQuestions">
          <!-- Display question details -->
          <td>{{ question.question }}</td>
          <td>{{ question.questionOption.join('; ') }}</td>
          <td>{{ question.questionCategoryId }}</td>
          <td>{{ question.createdByUser }}</td>
          <td>
            <button class="btn btn-info" (click)="viewDetails(question)" [disabled]="isPopupOpen">View Details</button>
            <button class="btn btn-warning" (click)="updateDetails(question)" [disabled]="isPopupOpen">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="popup" *ngIf="isPopupOpen">
    <div class="popup-content">
      <button class="btn btn-link close-button" (click)="closePopup()"><i class="fa fa-close"></i></button>
      <h4 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: #3498db; text-align: center;"><u>Add/Update Question</u></h4>
      <div class="bg-white">
        <div class="col-md-12 col-sm-12 col-lg-12">
          <form [formGroup]="addOrUpdateQuestion" (ngSubmit)="onSubmit()">
              <div class="p-3 py-5">
                  <div class="row mt-3">
                        <textarea class="form-control" name="question" id="question" formControlName="question" placeholder="Enter Question here..."></textarea>
                  </div>
                  <div class="row mt-3">
                    <div formArrayName="options">
                        <div *ngFor="let option of options.controls; let i = index" class="row mt-3">
                            <div class="col-2">
                                <input type="checkbox" [formControlName]="'correctOption' + i" style="height: 2vw;width: 2vw;" (change)="checkboxClicked($event, i+1)">
                            </div>
                            <div class="col-8">
                                <textarea class="form-control" type="text" [formControlName]="i" id="optionInput{{i + 1}}"
                                    placeholder="Enter Option {{i + 1}}"></textarea>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-link" (click)="removeOption(i)">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <button type="button" class="btn btn-link" (click)="addOption()">+ Add More Option</button>
                </div>
                  <div class="row mt-3">
                      <input type="text" class="form-control" placeholder="Organization Name" value={{organizationName}} disabled>
                  </div>
                  <div class="row mt-3">
                    <input type="text" class="form-control" placeholder="By User" value={{user.email}} disabled>
                  </div>
                  <div class="row mt-3">
                    <input type="checkbox" style="height: 2vw;width: 2vw;" [checked]="isMultipleChoise" disabled> &nbsp;&nbsp;&nbsp;
                    <label class="labels">IsMultiple Choise</label>
                  </div>
                  <div class="row mt-3">
                    <label class="labels">Selected Answer</label>&nbsp;&nbsp;&nbsp;
                    <textarea class="form-control" type="text"
                      [value]="selectedOption.join(', ')" disabled></textarea>
                  </div>
                  <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" type="submit">Add Question</button></div>
              </div>

          </form>
          </div>

      </div>
      
    </div>
  </div>