<h3 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: #3498db; text-align: center;"><u>QUESTION HANDLER</u></h3>
<hr>
<div class="container mt-4">
    <!-- Filter input -->
    <div class="form-outline mb-4 row">
        <div class="col-xs-3 col-lg-3 col-md-3 col-xl-3">
            <input class="form-control" type="text" [(ngModel)]="createdByUserFilter" placeholder="Filter by CreatedByUser">
        </div>
        <div class="col-xs-3 col-lg-3 col-md-3 col-xl-3">
            <select [(ngModel)]="filterType" (change)="onFilterTypeChange()" class="form-control">
                <option value="all">All Questions</option>
                <option value="user">Your Questions</option>
                <option value="organization">Questions in your Organization</option>
            </select>    
        </div>
        <div class="col-xs-3 col-lg-3 col-md-3 col-xl-3">
            <button type="button" class="btn btn-info" (click)="createdByUserFilterDetails()">Filter Question</button>
        </div>
        <div class="col-xs-3 col-lg-3 col-md-3 col-xl-3">
            <button type="button" class="btn btn-link" (click)="openPopup()" [disabled]="isPopupOpen || viewQuestion"><i class = "fa fa-plus-square"></i> Add New Question</button>
        </div>
    </div>
    <table class="table table-striped">
      <!-- Table headers -->
      <thead>
        <tr>
          <th>Question</th>
          <th>Options</th>
          <th>Category Name</th>
          <th>Created By User</th>
          <th>Actions</th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody *ngIf="filteredQuestions.length !== 0">
        <tr *ngFor="let question of filteredQuestions">
          <!-- Display question details -->
          <td>{{ question.question }}</td>
          <td>{{ question.questionOption.join('; ') }}</td>
          <td>{{ question.categoryDesc }}</td>
          <td>{{ question.createdByUser }}</td>
          <td>
            <button class="btn btn-light" (click)="viewDetails(question)" [disabled]="isPopupOpen || viewQuestion">View Question</button>
            <button class="btn btn-info" (click)="updateDetails(question)" [disabled]="isPopupOpen || question.isUpdateEnabled || viewQuestion">Update Details</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="filteredQuestions.length === 0" class="alert alert-info">No questions details found.</div>
  </div>
  <div class="popup" *ngIf="isPopupOpen">
    <div class="popup-content">
      <button class="btn btn-link close-button" (click)="closePopup()"><i class="fa fa-close"></i></button>
      <h4 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: #3498db; text-align: center;"><u>Add/Update Question</u></h4>
      <div class="bg-white">
        <div class="col-md-12 col-sm-12 col-lg-12">
          <form [formGroup]="addOrUpdateQuestion" (ngSubmit)="onSubmit()">
              <div class="p-3 py-5">
                  <div class="row mt-3">
                        <textarea class="form-control" name="question" id="question" formControlName="question" placeholder="Enter Question here..."></textarea>
                  </div>
                  <div class="row mt-3">
                    <div class="row col-7">
                      <select id="questionCategory" name="questionCategory" class="form-control" formControlName="questionCategory">
                        <option value="">Select an Question Category</option>
                        <option *ngFor="let cat of allQuestionCategory" [value]="cat['categoryId']">{{ cat['categoryDesc'] }}</option>
                      </select>
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-link" (click)="addNewQuestionCategoryName()">RegisterNewOne?</button>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div formArrayName="options">
                        <div *ngFor="let option of options.controls; let i = index" class="row mt-3">
                            <div class="col-3">
                                <i>Option {{i+1}}: </i>
                            </div>
                            <div class="col-7">
                                <textarea class="form-control" type="text" [formControlName]="i" id="optionInput{{i + 1}}"
                                    placeholder="Enter Option {{i + 1}}"></textarea>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-link" (click)="removeOption(i)" [disabled]="options.length === 1">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <button type="button" class="btn btn-link" (click)="addOption()"><i class = "fa fa-plus-square"></i> Add More Option</button>
                </div>
                  <div class="row mt-3">
                      <input type="text" class="form-control" placeholder="Organization Name" value={{organizationName}} disabled>
                  </div>
                  <div class="row mt-3">
                    <input type="text" class="form-control" placeholder="By User" value={{user.email}} disabled>
                  </div>
                  <div class="row mt-3">
                    <input type="checkbox" style="height: 2vw;width: 2vw;" id = "multipleChoiseChoose" formControlName="isMultipleChoise"> &nbsp;&nbsp;&nbsp;
                    <label class="labels" for="multipleChoiseChoose">IsMultiple Choise</label>
                  </div>
                  <div class="row mt-3">
                    <label class="labels">Correct Options</label>&nbsp;&nbsp;&nbsp;
                    <textarea class="form-control" type="text"
                      formControlName="Correct_Options" placeholder="If Multiple Options are correct provide option number spearted with Space..."></textarea>
                  </div>
                  <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="button" type="submit" *ngIf="!updatePageOpened">Add Question</button>
                    <button class="btn btn-success profile-button" type="button" (click)="UpdateQuestionDetailsMethod()" *ngIf="updatePageOpened">Update Question</button>
                  </div>
              </div>
          </form>
          </div>
      </div>
    </div>
  </div>

  <div class="popup" *ngIf="viewQuestion">
    <div class="popup-content">
      <button class="btn btn-link close-button" (click)="CloseViewQuestion()"><i class="fa fa-close"></i></button>
      <h4 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: #3498db; text-align: center;"><u>Add/Update Question</u></h4>
      <div class="bg-white">
        <div class="col-md-12 col-sm-12 col-lg-12">
          <form>
              <div class="p-3 py-5">
                  <div class="row mt-3">
                        <textarea class="form-control" value={{selectedQuestion.question}} disabled></textarea>
                  </div>
                  <div class="row mt-3">
                      <div class="row-5">
                        <label class="labels">Category : </label> &nbsp;&nbsp;&nbsp;
                      </div>
                      <div class= "row-6">
                       <input type="text" class="form-control" value={{selectedQuestion.categoryDesc}} disabled>
                      </div>
                  </div>
                  <div class="row mt-3">
                    <div>
                        <div *ngFor="let option of selectedQuestion.questionOption; let i = index" class="row mt-3">
                            <div class="col-5">
                                <i>Option {{i+1}}: </i>
                            </div>
                            <div class="col-7">
                                <textarea class="form-control" value={{option}} disabled></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="row mt-3">
                    <div class="row-5">
                      <label class="labels">Org Name : </label> &nbsp;&nbsp;&nbsp;
                    </div>
                    <div class= "row-6">
                      <input type="text" class="form-control" placeholder="Organization Name" value={{organizationName}} disabled>
                  
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="row-5">
                      <label class="labels">Added by : </label> &nbsp;&nbsp;&nbsp;
                    </div>
                    <div class= "row-6">
                    <input type="text" class="form-control" placeholder="By User" value={{selectedQuestion.createdByUser}} disabled>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <label class="labels" *ngIf="this.selectedQuestion.isMultipleChoise"><i class = "fa fa-check-square" style="font-size:24px;"></i></label>
                    <label class="labels" *ngIf="!this.selectedQuestion.isMultipleChoise"><i class = "fa fa-square" style="font-size:24px; color: gainsboro;"></i></label>
                     &nbsp;&nbsp;&nbsp;
                    <label class="labels">IsMultiple Choise</label>
                  </div>
                  <div class="row mt-3">
                    <label class="labels">Correct Options</label>&nbsp;&nbsp;&nbsp;
                    <textarea class="form-control" type="text" value={{selectedQuestion.correctOption}} disabled></textarea>
                  </div>
                  <div class="mt-5 text-center"><button class="btn btn-warning profile-button" type="button" (click)="CloseViewQuestion()">Close</button></div>
              </div>
          </form>
          </div>
      </div>
    </div>
  </div>