.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.mat-error {
  color: red;
  font-size: 8px;
}
.tooltip-error {
  background-color: #ff9999; /* Light red background color */
  color: #990000; /* Dark red text color */
}