<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://img.freepik.com/free-vector/forgot-password-concept-illustration_114360-1095.jpg"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <div class="align-items-center" style="align-items: center;">
            <a href="/home"><img src="../../../assets/logo.png" alt="" id = "centered-image"></a>
          </div>
          <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()" *ngIf = "!isButtonDisabled">
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">FORGET PASSWORD</p>
            </div>
  
            <div class="form-outline mb-3">
              <input type="email" class="form-control" id = "email" name="email" formControlName="email" placeholder="Enter Valid Email" [ngClass]="{ 'is-invalid': formFields.email.touched && formFields.email.errors }">
                <div *ngIf="formFields.email.touched && formFields.email.errors" class="invalid-feedback">
                  <div *ngIf="formFields.email.errors.required">Email is required</div>
                  <div *ngIf="formFields.email.errors.pattern">Provide a valid mail</div>
              </div>
            </div>
            <div class="form-outline mb-4">
              <select id="securityQuestion" name="securityQuestion" formControlName="securityQuestion" class="form-control" [ngClass]="{ 'is-invalid': formFields.securityQuestion.touched && formFields.securityQuestion.errors }">
                <option value="">Select Security Question</option>
                <option *ngFor="let ques of SecurityQuestion" [value]="ques['questionId']">{{ ques['question'] }}</option>
              </select>
              <div *ngIf="formFields.securityQuestion.touched && formFields.securityQuestion.errors" class="invalid-feedback">
                <div *ngIf="formFields.securityQuestion.errors.required">Security Question is Required</div>
              </div>
            </div>
            <div class="form-outline mb-3">
              <input type="text" class="form-control" formControlName="securityAnswer" id = "securityAnswer" name="securityAnswer" placeholder="Security Answer" [ngClass]="{ 'is-invalid': formFields.securityAnswer.touched && formFields.securityAnswer.errors }">
                <div *ngIf="formFields.securityAnswer.touched && formFields.securityAnswer.errors" class="invalid-feedback">
                  <div *ngIf="formFields.securityAnswer.errors.required">Security Answer is Required</div>
                </div>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg" [disabled]="isButtonDisabled"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" type="submit">Validate</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup"
                  class="link-danger">Register</a></p>
               <p class="small fw-bold mt-2 pt-1 mb-0">Want to login? <a href="/login"
                    class="link-danger">SignIn</a></p>
            </div>
  
          </form>
          <form [formGroup]="forgetNewForm" (ngSubmit)="onNewSubmit()" *ngIf = "isButtonDisabled">
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">FORGET PASSWORD</p>
            </div>
  
            <div class="form-outline mb-3">
              <input readonly type="email" class="form-control" id = "email" name="email" formControlName="email" [(ngModel)]="EnteredEmail">
            </div>
            <div class="form-outline mb-4">
              <input type="password" class="form-control" name="password" placeholder="Enter Password" formControlName="password" [ngClass]="{ 'is-invalid': confPasswordForm.password.touched && confPasswordForm.password.errors }">
                <div *ngIf="confPasswordForm.password.touched && confPasswordForm.password.errors" class="invalid-feedback">
                  <div *ngIf="confPasswordForm.password.errors.required">Password is required</div>
                  <div *ngIf="confPasswordForm.password.errors.pattern">Password must contain atleast 1 upper, lower, special, number and should have min length 8</div>
              </div>
            </div>
            <div class="form-outline mb-3">
              <input type="password" class="form-control" name="confPassword" placeholder="confirm Password" formControlName="confPassword" [ngClass]="{ 'is-invalid': confPasswordForm.confPassword.touched && confPasswordForm.confPassword.errors }">
                <div *ngIf="confPasswordForm.confPassword.touched && confPasswordForm.confPassword.errors" class="invalid-feedback">
                  <div *ngIf="confPasswordForm.confPassword.errors.required">Password is required</div>
                  <div *ngIf="confPasswordForm.confPassword.errors.pattern">Password must contain atleast 1 upper, lower, special, number and should have min length 8</div>
              </div>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" type="submit">Submit</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup"
                  class="link-danger">Register</a></p>
               <p class="small fw-bold mt-2 pt-1 mb-0">Want to login? <a href="/login"
                    class="link-danger">SignIn</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    <br><br>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <div class="text-white mb-4 mb-md-0">
        © 2024 Copyright: ExamGuruOnline.com
      </div>
    </div>
  </section>